---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
PointerAlignment: Right
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
SpaceAfterTemplateKeyword: false
Standard: c++20
...
