---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  readability-container-size-empty,
  readability-redundant-*,
  readability-else-after-return,
  misc-unused-parameters,
  cppcoreguidelines-slicing,
  clang-analyzer-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
...
