[Desktop Entry]
Type=Application
Name=velacut
GenericName=Video Editor
Comment=Editor video desktop per Linux, completamente offline
Icon=velacut
Exec=velacut %F
Terminal=false
Categories=AudioVideo;Video;VideoEditing;Qt;
MimeType=video/mp4;video/x-matroska;video/quicktime;video/webm;video/mpeg;video/x-msvideo;application/x-velacut-project;
Keywords=video;editor;editing;montaggio;timeline;
StartupWMClass=velacut
StartupNotify=true
