[Desktop Entry]
Type=Application
Name=Velacut
GenericName=Video Editor
GenericName[it]=Editor Video
Comment=Offline desktop video editor for Linux
Comment[it]=Editor video desktop per Linux, completamente offline
Icon=velacut
Exec=velacut %F
Terminal=false
Categories=AudioVideo;Video;VideoEditing;Qt;AudioVideoEditing;
MimeType=video/mp4;video/x-matroska;video/quicktime;video/webm;video/mpeg;video/x-msvideo;application/x-velacut-project;
Keywords=video;editor;editing;montaggio;timeline;cut;clips;velacut;
StartupWMClass=velacut
StartupNotify=true
